.card {
  width: 100%;
  padding: 32rpx 32rpx 40rpx 32rpx;
  border-radius: 28rpx;
  background: #ffffff;
  box-shadow: 0 4rpx 20rpx 0 #2d25040a;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32rpx;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 28rpx;
  line-height: 1.2;
  color: #1f1902;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20rpx;
  width: 100%;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16rpx;
}

.bubble {
  width: 82.3333358765px;
  height: 64px;
  border-radius: 28px;
  padding: 20px;
  background: linear-gradient(151.69deg, #fff9ec 27.73%, #fff5e0 49.68%, #fffaf2 86.26%);
  border: 1px solid;
  border-image-source: linear-gradient(332.03deg, rgba(255, 255, 255, 0) 70.6%, rgba(255, 255, 255, 0.7) 85.38%);
  box-shadow: 16px 16px 16px 0px #a57d3f14;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.bubbleActive {
  background: linear-gradient(151.69deg, #f2f9ff 27.73%, #dff0ff 49.68%, #f8fcff 86.26%);
}

.dot {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  border: 4px solid #FFFFFF66;
}

.dot_white {
  background: #ffffff;
  border: 1px solid #d9d9d9;
}

.dot_blue {
  background: #61aeff;
}

.dot_green {
  background: #88d069;
}

.dotActive {
  width: 32px;
  height: 24px;
}

.label {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #1f1902;
}

.labelActive {
  font-weight: 500;
  color: #1f1902;
}
