.toastView {
  position: absolute;
  top: 78px;
  width: 660rpx;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24rpx 32rpx;
  border-radius: 70rpx;
  box-shadow: 2px 5px 14px 0px rgba(0, 0, 0, 0.08);
}
.toastLeft {
  align-items: center;
  display: flex;
}
.toastText {
  font-size: 24rpx;
  font-weight: normal;
  text-transform: capitalize;
  letter-spacing: 0px;
  margin-left: 16rpx;
}
.toastBtnText {
  font-size: 24rpx;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0px;
  color: #0085ff;
}
