.checkbox {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 2px solid #bfc1c7;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

.checkboxChecked {
  border-color: #77b18f;
  background: #77b18f;
}

.checkMark {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #ffffff;
  text-align: center;
}
