.record {
  width: calc(100vw - 64rpx);
  margin: 0 32rpx;
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40rpx;
    margin-bottom: 20rpx;
  }
  .moreText {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24rpx;
    color: var(--app-B1-N3);
  }
  .recordItem {
    width: 100%;
    border-radius: 32rpx;
    background-color: var(--app-B2);
    padding: 32rpx;
    .recordItemTop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .mileage {
        font-size: 48rpx;
        text {
          font-size: 28rpx;
          color: var(--app-B1-N3);
        }
      }
      .time {
        font-size: 24rpx;
        color: var(--app-B1-N3);
      }
    }
    .recordItemBottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10rpx;
      .recordItemBottomLi {
        font-size: 24rpx;
        color: var(--app-B1-N3);
        text-align: center;
        .num {
          color: var(--app-B1-N1);
        }
      }
    }
    .noData {
      height: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 24rpx;
    }
  }
}
