.signal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.signalIcon {
  width: 32rpx;
  height: 32rpx;
  margin-right: 16rpx;
}
.bluetoothView {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32rpx;
}
.bluetoothIcon {
  width: 32rpx;
  height: 32rpx;
}
.connectText {
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  color: #848484;
}
.connectTextActive {
  color: #10a8fe;
}
