.container {
  position: relative;
  margin-bottom: 20rpx;
  padding: 30rpx 48rpx;
  border-radius: 28px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 20px 0px #2d25040a;
  display: flex;
  flex-direction: column;
  gap: 32rpx;
  align-items: center;
  box-sizing: border-box;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  color: #1f1902;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.closeRow {
  margin-top: 8rpx;
  display: flex;
  align-items: center;
  gap: 8rpx;
  padding: 14rpx 18rpx;
}

.closeText {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #1f1902;
  opacity: 0.5;
}

.closeIcon {
  width: 20px;
  height: 20px;
  opacity: 0.5;
}
