.topBarWrap {
  color: var(--index-title-color);
  background-color: var(--index-title-bg);

  .topBar {
    height: 44px;
    display: flex;
    margin-left: 32rpx;
    align-items: center;
    font-size: 34rpx;
    font-weight: bold;
    width: 100vw;
    text {
      white-space: nowrap;
      max-width: 460rpx;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .statusBar {
    height: 20px;
  }
}
