@primary-color: #ff592a;
@background-on: #55a074;
@background-off: #868eaa;
@brand-color: @background-on;
@brand-color-light: #6eb58a;
@brand-color-dark: #458a60;

// font
@font-gray-0: #040a23;
@font-gray-1: #656979;
@font-gray-2: #9aa0b1;
@font-gray-3: #e1e5ec;
